@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700&family=Noto+Serif+JP:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/*==============================================================================================
//
//  SUPPORTS
//
//============================================================================================*/
@supports (-webkit-touch-callout: none) {
  html {
    height: -webkit-fill-available;
  }
  body {
    min-height: 100vh;
    height: -webkit-fill-available;
  }
}
@layer base {
  
  /* ==========================================================================
    Base
  ========================================================================== */
  
  /* safari 文字落ちバグ */
  _::-webkit-full-page-media, _:future, :root body {
    font-feature-settings: "pkna";
  }
  
  *,*:before,*:after {
    @apply box-border;
  }
  
  *,*:focus,*:hover {
    outline:none;
  }
  
  html {
    font-family: "Noto Sans JP", sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    @apply bg-white text-16ptr;
  }
  
  article {
    @apply mx-auto overflow-x-hidden min-h-[100vh];
  }
  
  .wrap {
    @apply max-w-[1100px] mx-auto;
  }
  
  .error-container {
    @apply h-[100vh] flex flex-col justify-center items-center select-none;
  }
  .error-container h1 {
    @apply text-128ptr md:text-192ptr text-gray-400 font-hiraginosans font-semibold;
  }
  .error-container p {
    @apply text-20ptr text-gray-600;
  }
  
  form, .form {
    @apply flex flex-col gap-8 py-[10%] px-4 md:px-[20%];
  }
  
  label {
    @apply block text-gray-400 text-16ptr mb-2 select-none;
  }
  
  input {
    @apply [transition:_all_.2s_ease];
  }
  
  input[type="text"], input[type="email"], input[type="number"], input[type="password"], textare  {
    @apply border-solid border-2 border-gray-300 rounded-lg py-3 px-4 w-full text-20ptr;
  }
  
  
  .authcode-container {
    @apply flex gap-8 justify-center items-center;
  }
  
  input.authcode-input {
    @apply w-20 h-20 p-0 bg-white bg-clip-padding border-solid border-2 border-gray-400 rounded-[4px] text-center text-32ptr text-gray-600 font-bold uppercase select-none;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  
  input[type="file"] {
    color: rgb(31, 41, 55);
    cursor: pointer;
    border: 1px solid rgb(191, 194, 199);
    padding-right: 0.5rem;
    width: 24rem;
  }
  
  ::file-selector-button,
  ::-webkit-file-upload-button {
    @apply font-notosansjp;
    background-color: rgb(209, 213, 219);
    color: rgb(31, 41, 55);
    border: none;
    cursor: pointer;
    border-right: 1px solid rgb(191, 194, 199);
    padding: 0.25rem 1rem;
    margin-right: 1rem;
  }
  
  .button {
    @apply inline-block w-full cursor-pointer rounded-lg py-4 border-solid border-2 text-18ptr text-white text-center [transition:_all_.2s_ease] select-none;
    &:disabled {
      @apply opacity-50 cursor-not-allowed;
    }
  }
  
  .button--primary {
    @apply border-button bg-button ;
    &:hover {
      @apply bg-white text-button;
    }
  }
  
  .button--secondary {
    @apply border-button bg-white text-button;
    &:hover {
      @apply bg-button text-white;
    }
  }
  
  .bg-signup {
    @apply h-[100vh] relative z-20;
  }
  .bg-signup::before,
  .bg-signup::after {
    @apply content-[""] absolute left-0 w-full h-[500px];
  }
  .bg-signup::before {
    @apply [background:linear-gradient(to_top,rgba(255,255,255,0),rgba(255,255,255,1))] -z-[1];
  }
  .bg-signup::after {
    @apply [background:linear-gradient(to_bottom,rgba(255,255,255,0),rgba(255,255,255,1))] bottom-0 top-auto -z-[1];
  }
  
  .modal-head {
    @apply relative h-16 text-center flex justify-center items-center border-b-2 border-gray-200 border-solid;
    > p {
      @apply text-18ptr md:text-24ptr font-semibold;
    }
  }
  
  .modal-cancel-button {
    @apply absolute left-[5%] cursor-pointer select-none;
    &:hover {
      @apply opacity-50;
    }
  }
  
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  
  textarea {
    @apply font-notosansjp;
    border: 1px solid rgb(191, 194, 199);
    padding: 0.5rem;
    resize: none;
  }
}